#container1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: auto;
	margin-top: 70px;
	width: 960px;
	heigth: 800px;
	color: #fff;
	background-color: #2c79afe0;
}

#container2{
	margin: auto;
	margin-top: 0px;
}

#boton1{
	display: inline-block;
	margin: 20px 20px;
	background-color: rgb(86, 250, 141);
	color: #fff;
	padding: 10px 45px;
	text-decoration: none;
	
}


#boton2{
	display: inline-block;
	margin: 20px 20px;
	background-color: rgb(255, 185, 115);
	color: #fff;
	padding: 10px 45px;
	text-decoration: none;
	
}


#boton3{
	display: inline-block;
	margin: 20px 20px;
	background-color: rgb(255, 63, 33);
	color: #fff;
	padding: 10px 45px;
	text-decoration: none;
	
}

#txt1, #txt2, #txt3{
	display: inline-block;
	margin: 25px 25px;
	background-color: rgb(255, 255, 255);
	color: #2c79afe0;
	padding: 10px 45px;
	text-decoration: none;
	border: 2px solid #2c79afe0;
	
}

#txt4{
	display: inline-block;
	margin: 25px 25px;
	background-color: rgb(255, 255, 255);
	color: #2c79afe0;
	padding: 10px 45px;
	text-decoration: none;
	border: 2px solid #2c79afe0;
	
}